<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noverguo.fuckredenvelope"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:name="com.noverguo.fuckredenvelope.FREApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Fuck red envelope" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />

        <activity
            android:name="com.noverguo.fuckredenvelope.ui.SettingActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.noverguo.fuckredenvelope.receiver.SettingReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.noverguo.fuckredenvelope.receiver.SettingReceiver" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.noverguo.fuckredenvelope.receiver.UnlockReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.noverguo.fuckredenvelope.receiver.UnlockReceiver" />
            </intent-filter>
        </receiver>
    </application>

</manifest>